#about {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 17px;
}

.about-contianer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.aboutus-content {
  width: 80%;
}

.pfile-img {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px , rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  width: 120px;
}

@media screen and ( min-width : 375px ) {

  .pfile-img {
    width: 210px;
  }
}

@media screen and ( min-width : 768px ) {

  .about-contianer {
    width: 85%;
  }
}

@media screen and ( min-width : 1024px ) {

  .about-contianer {
    flex-direction: row;
    gap: 45px;
    width: 70%;
  }

  .aboutus-content {
    font-size: 1.3em;
  }
}

@media screen and ( min-width : 1680px ) {

  .aboutus-content {
    width: 50%;
  }
}

@media screen and ( min-width : 2560px ) {

  .aboutus-content {
    font-size: 1.3em;
    width: 40%;
  }
}
