#feedbacks {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.feedbacks-content {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 80%;
}

.client-feedback {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.quote {
  display: flex;
  flex-flow: column nowrap;
}

.fa-quote-right {
  align-self: flex-end;
}

.text-quote {
  font-style: italic;
  font-weight: 700;
  margin: auto;
  text-align: center;
  width: 80%;
}

.quote-author {
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  font-family: var(--marvel);
}

#feedbacks i {
  color: var(--quote-dark-blue);
}

@media screen and (min-width : 1024px) {

  .feedbacks-content {
    font-size: 1.2em;
    width: 50%;
  }
}

@media screen and (min-width : 1920px) {

  .feedbacks-content {
    width: 35%;
  }
}