.top-bar {
  align-items: center;
  background-color: var(--dark-primary);
  color: white;
  display: flex;
  height: 90px;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 99;
}

a {
  color: white;
  text-decoration: none;
}

.a-logo {
  margin: 0 auto;
}

.logo-header {
  left: -66px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 9px;
  width: 250px;
}

.bars {
  cursor: pointer;
  font-size: 2em;
  margin-right: 15px;
}

.reset-btn {
  background-color: transparent;
  border: none;
  color: white;
}

@media screen and ( min-width : 375px ) {

  .logo-header {
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

@media screen and ( min-width : 1024px ) {

  .top-bar {
    justify-content: flex-start;
  }

  .logo-header {
    margin: 0;
    margin-left: 25px;
  }
}

@media screen and ( min-width : 1440px ) {

  .logo-header {
    left: 99px;
    top: 3px;
    width: 273px;
  }
}

@media screen and ( min-width : 1240px ) {

  .logo-header {
    margin-left: 62px;
    width: 256px;
  }
}

@media screen and ( min-width : 1680px ) {

  .logo-header {
    margin-left: 15%;
  }
}
