.motto-section {
  align-items: center;
  background-color: var(--primary);
  background-image: url('../imgs/pexelsBG-2-blur.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 90px;
}

.motto-content {
  width: 80%;
}

.motto-content h2 {
  font-weight: 600;
}

.motto-content h2, .motto-content p {
  color: black;
}

@media screen and ( min-width : 768px ) {

  .motto-content {
    margin-left: -108px;
    width: 60%;
  }
}


@media screen and ( min-width : 1024px ) {

  .motto-content {
    margin-left: -155px;
    width: 50%;
  }

  .motto-content h2, .motto-content p {
    font-size: 1.2em;

  }
}

@media screen and ( min-width : 1024px ) {

  .motto-content {
    margin-left: -270px;
  }
}

@media screen and ( min-width : 1680px ) {

  .motto-content {
    width: 50%;
  }
}

@media screen and ( min-width : 1680px ) {

  .motto-content {
    margin-left: -220px;
    width: 40%;
  }
}

@media screen and ( min-width : 2560px ) {

  .motto-content {
    width: 40%;
  }
}
