.nav-header {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  font-family: var(--marvel);

  /* font-size: 2rem; */
  font-weight: 700;
  height: calc(100vh - 90px);
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  top: 45px;
  transition: all 0.4s;
  width: 100vw;
  z-index: 99;
}

.nav-header a {
  font-size: 1.6rem;
}

.not-show {
  opacity: 0;
  transform: translateY(-45px);
  visibility: hidden;
}

.show {
  opacity: 1;
  transform: translateY(45px);
  visibility: visible;
}

.nav-header > a {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  transition: opacity 0.2s;
  width: 100vw;
}

.nav-header > a:hover {
  opacity: 0.8;
}

@media screen and ( min-width : 1024px ) {

  .reset-btn {
    display: none;
  }

  .nav-header {
    background-color: var(--dark-primary);
    flex-direction: row;
    height: 90px;
    top: 0;
    width: 70%;
    z-index: 99;
  }

  .nav-header a {
    font-size: 1.3em;
  }

  .show {
    transform: translateY(0);
  }

  .not-show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@media screen and ( min-width : 1280px ) {

  .nav-header {
    width: 55%;
  }
}

@media screen and ( min-width : 1440px ) {

  .nav-header {
    right: 39px;
    width: 45%;
  }
}

@media screen and ( min-width : 1920px ) {

  .nav-header {
    right: 62px;
    width: 35%;
  }
}
