@keyframes hide-left {

  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-400px);
  }
}

@keyframes hide-right {

  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(400px);
  }
}

#services {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-bottom: 90px; */
}

.services-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  width: 80%;

}

.services-content>p {
  margin-top: 0;
}

.card-content {
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  /* min-height: 158px; */
  /* height: 40%; */
  margin: auto;
  padding: 15px;
  height: 250px;
  width: 500px;
  transition: all 0.3s;
}

.card-content:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.card-content h3 {
  margin-top: 9px;
}

.hide-left {
  animation: hide-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.hide-right {
  animation: hide-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.card-content ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 0 12px;
}

.card-content h3 {
  text-align: center;

}

.service-card {
  color: white;
  display: flex;
  position: relative;

  /* font-size: 1.2em; */
}

.i-carousel {
  color: white;
}

/* .father-content {
  margin-bottom: 280px;
} */

.reset-btn-black-section {
  background-color: transparent;
  border: none;
  color: white;
}

.left-b,
.right-b {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s;
}

.left-b:hover,
.right-b:hover {
  transform: scale(1.4);
  transition: all 0.3s;
}

.left-b {
  left: -10%;
}

.right-b {
  right: -10%;
}

@media screen and (min-width : 820px) {
  .services-content {
    padding-top: 120px;
  }
}

@media screen and (min-width : 1024px) {
  /* 
  .father-content {
    margin-top: 65px;
  } */



  .father-content h2 {
    font-size: 1.6em;
  }

  .father-content p {
    font-size: 1em;
  }

  .card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
  }

  .left-b {
    font-size: 35px;
    z-index: 99;
  }

  .right-b {
    font-size: 35px;
    z-index: 99;
  }
}

@media screen and (min-width : 1440px) {

  .services-content {
    padding-top: 36px;
  }

  .card-content {
    width: 675px;
  }

  .right-b {
    right: 10%;
  }

  .left-b {
    left: 10%;
  }

  .fa-solid {
    font-size: 1.8rem;
  }
}

@media screen and (min-width : 1680px) {

  .father-content {
    margin-left: auto;
    margin-right: auto;

    /* margin: 0 auto; */
    margin-top: 65px;
    width: 60%;
  }

  .service-card {
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and (min-width : 1920px) {

  #services {
    padding-bottom: 200px;
  }

  .card-content {
    margin-top: 35px;
  }

  .right-b {
    right: 3%;
  }

  .left-b {
    left: 3%;
  }

}

@media screen and (min-width : 2560px) {

  .father-content {

    /* margin: 0 auto; */
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: 50%;
  }

  .service-card {
    margin: 0 auto;
    width: 50%;
  }
}