#services {
  align-items: center;
  display: flex;
}

.services-content {
  margin: auto;
  width: 80%;
}

.card-content {
  align-items: center;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset , rgba(50, 50, 93, 0.25) 0 10px 50px -20px , rgba(0, 0, 0, 0.3) 0 30px 20px -30px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 350px;
  justify-content: center;
  margin: 0 25px;
  padding: 20px;
}

.card-content ul {
  padding: 10px;
}

.card-content h3 {
  margin-top: 0;
}

.swiper-button-next, .swiper-button-prev {
  background-color: white;
  width: 15px ! important;
}

.swiper-button-next {
  mask: url(../imgs/next.svg) no-repeat center;
  right: 0;
}

.swiper-button-prev {
  left: 0;
  mask: url(../imgs/prev.svg) no-repeat center;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-slide {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.swiper-slide h3 {
  text-align: center;
}

@media screen and ( min-width : 820px ) {

  .swiper-button-next, .swiper-button-prev {
    width: 27px ! important;
  }

  .card-content {
    margin: 0 30px;
  }
}

@media screen and ( min-width : 1024px ) {

  .father-content h2 {
    font-size: 1.6em;
  }

  .father-content p {
    font-size: 1em;
  }

  .slide-container {
    margin: 0 auto;
    width: 85%;
  }

  .card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
  }
}

@media screen and ( min-width : 1440px ) {

  .slide-container {
    width: 75%;
  }

  .services-content {
    padding-top: 36px;
  }

  .fa-solid {
    font-size: 1.8rem;
  }
}

@media screen and ( min-width : 1680px ) {

  .father-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: 60%;
  }
}

@media screen and ( min-width : 1920px ) {

  .slide-container {
    margin: 0 auto;
    max-width: 1024px;
    width: 65%;
  }

  #services {
    padding-bottom: 200px;
  }

  .card-content {
    margin-top: 35px;
  }
}

@media screen and ( min-width : 2560px ) {

  .father-content {
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: 50%;
  }
}
